<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/enteringName.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;1,300&display=swap" rel="stylesheet">
    <title>The City's Name</title>
    <style type="text/css"></style>
</head>
<body>

    <div class="intro">
        <p class="intro_text">The Weather App</p>
    </div>

    <div class="bar">
        <form method="POST" th:action="@{/weather}" >
            <input type="text" name="city" id="city" placeholder="Your City...">
            <button type="submit">CHECK</button>
        </form>
    </div>

</body>
</html>