<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;1,300&display=swap" rel="stylesheet">
    <title>Home Page</title>
    <style type="text/css"></style>
</head>
<body>
    <p class="intro_text">Displays</p>

    <div class="displays_container">
        <div class="display_box">
            <a class="display_link" th:href="@{/currentConditions}">Current Conditions</a>
        </div>
        <div class="display_box">
            <a class="display_link" th:href="@{/averageTemperature}">Average Temperature</a>
        </div>
        <div class="display_box">
            <a class="display_link" th:href="@{/foreCast}">Fore Cast</a>
        </div>
        <div class="display_box">
            <a class="display_link" th:href="@{/sys}">Sunrise and sunset</a>
        </div>
    </div>

</body>
</html>